:root {
    --md-primary-fg-color:        #4b2e83;
    --md-primary-fg-color--light: #baa9db;
    --md-primary-fg-color--dark:  #281352;
    --md-accent-fg-color:                hsla(42, 30%, 60%, 1);
    --md-accent-fg-color--transparent:   hsla(42, 30%, 60%, 0.1);


  }

.md-typeset code {
    text-wrap: pretty;
}

.md-clipboard {
    color:#4b2e83
}

.md-typeset h1 {
    color: #85754d;
}